<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="robot_name" default="" />

  <!-- sets log level-->
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find dwsubt)/config/custom_rosconsole.conf"/>   

  <!-- Launch your controller nodes -->
  <node name="$(arg robot_name)dwsubt" pkg="dwsubt" type="base_control_node" output="screen" args="$(arg robot_name)"/>
  <node name="lasertopoint" pkg="dwsubt" type="laserscan_to_pointcloud" output="screen" />

  <!-- Launch rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find dwsubt)/rviz/pointcloud.rviz " />
  
</launch>
